*.dll
*.pdb
AlarmList/Resources/Thumbs.db
*.ini
CTAP/obj/CTAP.csproj.FileListAbsolute.txt
CTAP/obj/Debug/CTAP.csproj.GenerateResource.Cache
*.exe
*.cache
*.txt
TKUnit/ClassDiagram1.cd
CTAP/bin/Debug/FSP/Fsp0.fsp
CTAP/bin/Debug/FSP/Fsp0.rem
CTAP/bin/Debug/FSP/Fsp1.fsp
CTAP/bin/Debug/FSP/Fsp1.rem
CTAP/bin/Debug/FSP/Fsp10.fsp
CTAP/bin/Debug/FSP/Fsp10.rem
CTAP/bin/Debug/FSP/Fsp2.fsp
CTAP/bin/Debug/FSP/Fsp2.rem
CTAP/bin/Debug/FSP/Fsp3.fsp
CTAP/bin/Debug/FSP/Fsp3.rem
CTAP/bin/Debug/FSP/Fsp4.fsp
CTAP/bin/Debug/FSP/Fsp4.rem
CTAP/bin/Debug/FSP/Fsp5.fsp
CTAP/bin/Debug/FSP/Fsp5.rem
CTAP/bin/Debug/FSP/Fsp6.fsp
CTAP/bin/Debug/FSP/Fsp6.rem
CTAP/bin/Debug/FSP/Fsp7.fsp
CTAP/bin/Debug/FSP/Fsp7.rem
CTAP/bin/Debug/FSP/Fsp8.fsp
CTAP/bin/Debug/FSP/Fsp8.rem
CTAP/bin/Debug/FSP/Fsp9.fsp
CTAP/bin/Debug/FSP/Fsp9.rem
CTAP/bin/Debug/INI/AlarmList.INI.bak
CTAP/bin/Debug/INI/Datalog.ini.bak
CTAP/bin/Debug/INI/FilePath.INI.bak
CTAP/bin/Debug/INI/PLC_Device.INI.bak
CTAP/bin/Debug/INI/TK_ini/TK.ini.bak
*.Log
CTAP/bin/Debug/INI/Recipe/Panel Para/dd
CTAP/bin/Debug/INI/TK_ini/AD_Device.ini.bak
CTAP/bin/Debug/INI/TK_ini/DIOName.INI.bak
CTAP/bin/Debug/INI/TK_ini/FuncSet.ini.bak
CTAP/bin/Debug/INI/TK_ini/HSL_System.Ini.bak
CTAP/bin/Debug/INI/TK_ini/Mccl_Device.ini.bak
CTAP/bin/Debug/INI/TK_ini/MotorProtocol.ini.bak
CTAP/bin/Debug/INI/TK_ini/TK_Function.ini.bak
CTAP/bin/Debug/INI/TK_ini_Back/AD_Device.ini.bak
CTAP/bin/Debug/INI/TK_ini_Back/FuncSet.ini.bak
CTAP/bin/Debug/INI/TK_ini_Back/HSL_System.Ini.bak
CTAP/bin/Debug/INI/TK_ini_Back/Mccl_Device.ini.bak
CTAP/bin/Debug/INI/TK_ini_Back/MotorProtocol.ini.bak
CTAP/bin/Debug/INI/TK_ini_Back/TK_Function.ini.bak
CTAP/bin/Debug/RVM.exp
CTAP/bin/Debug/RVM.lib
CTAP/bin/Debug/ZMotion.lib
