<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContrelModule.ComPort" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ContrelModule.ComPort>
            <setting name="Port" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Boudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>7</value>
            </setting>
        </ContrelModule.ComPort>
    </userSettings>
</configuration>